.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0.125rem;

}

.leftActions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.rightActions{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.title {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  align-self: flex-end;
}

.title span {
  display: inline-flex;
  align-items: center;
  width: 16px;
}

.total {
  align-self: flex-end;
  color: var(--color-fg-secondary);
  padding-right: 50px;
}

.actions {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
