/* packages/ui/src/composed/FilterBar/FilterBar.module.css */

.filterBar {
  /*
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
  */
  padding: var(--spacing-md);
  background: transparent;
}

.filterRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  flex-wrap: wrap;
}

.filterActions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.filterItemTitle {
  font-size: font-size-base;
}

.filterItem {
  flex: 1;
  min-width: 200px;
}
