.root {
  background-color: var(--color-border-subtle);
  flex-shrink: 0;
}

.subtle {
  background-color: var(--color-border-subtle);
}

.default {
  background-color: var(--color-border-default);
}

.strong {
  background-color: var(--color-border-strong);
}

.horizontal {
  height: 1px;
  width: 100%;
}

.vertical {
  width: 1px;
  height: 100%;
}
