.root {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
  background: transparent;
  /*
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-lg);
  */
  gap: 0.125rem;
  min-height: 0;
  flex: 1;
}
