/* Gen-Office Theme - Main CSS */

/* CSS Variables */
@import './styles/variables.css';

/* Global Styles */
@import './styles/global.css';

/* Optional: Reset Styles */
/* @import './styles/reset.css'; */

/* Optional: LG Smart Font */
/* @import './styles/fonts/lg-smart.css'; */