/* apps/demo/src/pages/user/UserManagementPage.module.css */

.page {
  min-height: 0;
  gap: 4px;
  padding-bottom: var(--spacing-md);
  overflow: hidden;
}

.filter {
}

.workarea {
  padding-bottom: 10px;
  overflow: hidden;
}
