/* apps/demo/src/pages/admin/role/RoleManagementPage.module.css */

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4px;
  padding-bottom: var(--spacing-md);
}

.workarea {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
}
