.td {
  padding: 0.75rem 1rem; /* 12px 16px */
  color: var(--color-fg-primary);
  border-bottom: 1px solid var(--color-border-subtle);
  background-color: var(--color-bg-primary);
  vertical-align: middle;
}

.sticky {
  position: sticky;
  z-index: 3;
  background-color: var(--color-bg-primary);
}