/* packages/mdi/src/components/TabPanel/TabPanel.module.css */

.tabPanel {
  flex: 1;
  overflow: auto;
  /*background-color: var(--color-background);*/
  background-color: var(--color-surface);
  padding: 0 var(--spacing-md);
}

.tabPanel.hidden {
  display: none;
}